



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script type="text/javascript">
        function addValues() {
            var a = document.getElementById("t1").value;
            var b = document.getElementById("t2").value;
            document.getElementById("op").innerHTML = "Result = "+ a + b;
        }
    </script>
    
    <input type="text" id="t1" placeholder="Text 1"/>
    <input type="text" id="t2" placeholder="Text 2"/>
    <br><br>
    <button onclick="addValues()" id="btnAdd">Add</button>
    <h2 id="op">Result = </h2>

</body>
</html>