@import url("https://fonts.googleapis.com/css?family=Trirong");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trirong", serif;
}

body {
    background-color: #f8fafb;
}

.main-container {
    height: auto;
    padding: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.main-heading {
    font-size: 60px;
    color: #272937;
}

.main-button {
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #38d39f;
    border: 2px solid #38d39f;
    margin: auto;
    background-color: transparent;
}

.main-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.main-button:hover {
    color: #fff;
    background-color: #38d39f;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.container {
    width: 100%;
    margin: auto;
}

.form-heading {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.inputBox {
    text-align: left;
    line-height: 2;
}

form {
    width: 30%;
    margin: auto;
    height: auto;
    border: none;
    padding: 30px 50px 60px 50px;
    margin-top: 50px;
    background-color: #f8fafb;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
}

input {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    border: none;
    background: #efefef;
    border-radius: 5px;
}

label {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.form-button {
    background-color: #38d39f;
    border-color: #38d39f;
    color: #fff;
    width: 100%;
    margin: auto;
    border: none;
    padding: 12px 111px;
    font-weight: 600;
    border-radius: 8px;
    font-size: 19px;
}

.form-button:hover {
    background-color: #16a776;
}

.flex-container-items {
    width: 32%;
    margin-top: 50px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
}

.list-container {
    width: 100%;
    margin: auto;
    text-align: left;
    border-radius: 8px;
    padding: 30px;

}

.child-heading {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.edit-button {
    padding: 3px 42px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    color: #38d39f;
    border-radius: 5px;
    border-color: #38d39f;
    border: 2px solid #38d39f;
    background: transparent;
    margin-top: 20px;
    text-align: left;
}

.delete-button {
    padding: 3px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    color: #38d39f;
    border-radius: 5px;
    border-color: #38d39f;
    border: 2px solid #38d39f;
    background: transparent;
}

.edit-button:hover {
    color: aliceblue;
    background-color: #38d39f;
}

.delete-button:hover {
    color: aliceblue;
    background-color: #38d39f;
}

span {
    color: black;
    display: inline-block;
    text-align: right;
    font-size: 35px;
    padding-right: 10px;
}

.table-container {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    margin: auto;
    height: auto;
}

th {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    background-color: #38d39f;
    color: white;
}

td {
    color: #000000b5;
    font-size: 18px;
    padding: 8px;
    font-weight: 600;

}

.flex-container {
    width: 100%;
    display: flex;
    column-gap: 35px;
    flex-wrap: wrap;
    margin: auto;
}

.td-integer {
    text-align: right;
}

.td-string {
    text-align: left;
}

.buttons {
    text-align: center;
}