@import url("https://fonts.googleapis.com/css?family=Trirong");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trirong", serif;
}

body {
    background-color: mintcream
}

.main-container {
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
    padding: 40px;
    background-color: mintcream;
}

.mini-container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    display: inline-block;
}

.main-heading {
    font-size: 60px;
    color: black;
    padding-bottom: 30px;
}

.main-heading:hover {
    color: rgb(68 68 68 / 88%);
}

.list-button {
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: hsl(277deg 94% 20%);
    background-color: transparent;
    background-image: none;
    border-color: hsl(277deg 94% 20%);
    margin: auto;
}

.list-button:hover {
    color: #fff;
    background-color: hsl(277deg 94% 20%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.Add-button {
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    color: #034c2e;
    background-color: transparent;
    background-image: none;
    border-color: #034c2e;
}

.Add-button:hover {
    color: #fff;
    background-color: #034c2e;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.container {
    width: 100%;
    margin: auto;
}

.form-container {
    background: #002cad;
    width: 600px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 5px 10px 15px rgb(0 0 0 / 80%);
}

.form-heading {
    margin-bottom: 60px;
    color: white;
    display: inline-block;
    width: 100%;
    padding-bottom: 60px;
    margin: auto;
}

h1:hover {
    color: black;
}

.inputBox {
    position: relative;
}

form {
    width: 80%;
    margin: auto;
}

.inputBox input:focus~label {
    top: -20px;
    color: black;
    background: #002cad;
}

input:focus {
    border-bottom: 1px solid black;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.inputBox input:valid~label {
    transition: 0.5s;
    top: -34px;
    transition: 0.5s;
    background: transparent;
}

input {
    width: 100%;
    border-style: none;
    background: #002cad;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid white;
    outline: none;
    margin-bottom: 20px;
    border-spacing: none;
    padding: 10px 0;
}

label {
    color: white;
    position: absolute;
    pointer-events: none;
    font-size: 23px;
    font-weight: 700;
    top: 0;
    left: 0;
}

.form-button {
    padding: 15px 40px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid white;
    color: white;
}

.form-button:hover {
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 19px;
    transition: 0.5s;
}

.mini-child-container {
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    border: 2px solid black;
    border-radius: 8px;
    padding: 30px;
}

.child-heading {
    color: #601c1c;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: left;
}

.child-heading:hover {
    color: #572b2b;
}

.edit-button {
    padding: 3px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    background: transparent;
    color: black;
    border-radius: 5px;
    border-color: black;
    margin-top: 20px;
    text-align: left;
}

.edit-button:hover {
    color: aliceblue;
    background-color: black;
}

span {
    color: black;
    display: inline-block;
    text-align: right;
}


table {
    width: 100%;
    margin: auto;
    padding: 10px;
}

th {
    font-size: 20px;
}

td {
    color: #0b2f99;
    font-size: 18px;
    padding: 8px;
    font-weight: 600;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}